/* Define global variables */
:root {
  --wallpaper: home wall6.svg;
  --theme-main: #88eeff;
  --theme-main-mono: #ddeeff;
  --theme-bg: #11111b;
  --theme-bg-alt: #11111bbb;
  --theme-bg-alt2: #11111b88;
  --border: #88eeff;
  --border-width: 2px;
  --shadow: #11111b;
  --shadow-distance: 0;
  --shadow-blur: 16px;
  --inner-shadow: #11111b;
  --inner-shadow-distance: 0;
  --inner-shadow-blur: 48px;
  --rounding: 24px;
  --btn-rounding: 6px;
  --padding: 8px;
  --scroll-bar-width: 4px;
  --panel-bg-blur: 24px;
  --font-size: 14px;
  --large-font-size: 24px;
  --font-ui: "Segoe UI", "Helvetica Neue", Roboto, HelveticaNeue, system-ui,
    -apple-system, BlinkMacSystemFont, sans-serif;
  --font-monospace: JetBrainsMono, monospace;

  /* Terminal Colours */
  --t-foreground: var(--theme-main-mono);
  --t-background: var(--theme-bg);
  --t-cursor: var(--theme-main-mono);
  --t-selection: #585b70;
  --t-black: #45475a;
  --t-red: #f38ba8;
  --t-green: #a6e3a1;
  --t-yellow: #f9e2af;
  --t-blue: #89b4fa;
  --t-purple: #f5c2e7;
  --t-cyan: #94e2d5;
  --t-white: #bac2de;
  --t-l-black: #585b70;
  --t-l-red: #f38ba8;
  --t-l-green: #a6e3a1;
  --t-l-yellow: #f9e2af;
  --t-l-blue: #89b4fa;
  --t-l-purple: #f5c2e7;
  --t-l-cyan: #94e2d5;
  --t-l-white: #a6adc8;
}
/* Global background and main color */
:root {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--theme-bg);
  color: var(--theme-main-mono);
  font-family: var(--font-ui);
  font-size: var(--font-size);
  transition-duration: 200ms;
}

/* Fonts */
@font-face {
  font-family: JetBrainsMono;
  src: url(assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}
@font-face {
  font-family: HelveticaNeue;
  src: url(assets/fonts/HelveticaNeueRoman.otf);
}

/* Links */
a:link {
  color: var(--theme-main);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: var(--theme-main);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: var(--theme-main);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: var(--theme-main);
  background-color: transparent;
  text-decoration: underline;
}

/* Scroll Bar Modification */
/* width */
::-webkit-scrollbar {
  width: var(--scroll-bar-width);
  height: var(--scroll-bar-width);
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: var(--rounding);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-main);
  border-radius: var(--rounding);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-main-mono);
  border-radius: var(--rounding);
}
/* The all important corner */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Window Definition */
window {
  --x: 0px;
  --y: 0px;
  --width: -10px;
  --height: -10px;
  --z-index: 1;
  --maximised: 0;
  translate: var(--x) var(--y);
  width: var(--width);
  height: var(--height);
  z-index: var(--z-index);
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0;
  border-radius: var(--rounding);
  color: var(--theme-main-mono);
  background-color: var(--theme-bg-alt);
  backdrop-filter: blur(var(--panel-bg-blur));
  border: var(--border-width) solid var(--border);
  box-shadow: inset var(--inner-shadow-distance) var(--inner-shadow-distance)
      var(--inner-shadow-blur) var(--inner-shadow),
    var(--shadow-distance) var(--shadow-distance) var(--shadow-blur)
      var(--shadow);
  position: absolute;
}

.window-header {
  font-size: var(--large-font-size);
  color: var(--theme-main);
  -webkit-user-select: none;
  user-select: none;
  /* border-radius: inherit; */
  border-bottom: var(--border-width) solid var(--border);
  display: flex;
  justify-content: center;
}
.fill-left {
  flex: 1;
  display: flex;
  min-width: -webkit-min-content; /* Workaround to Chrome bug */
  padding-left: var(--padding);
  height: var(--large-font-size);
  margin: auto 0;
  /* border: 1px solid orange; */
}
.fill-right {
  flex: 1;
  display: flex;
  min-width: -webkit-min-content; /* Workaround to Chrome bug */
  justify-content: flex-end;
  padding-right: var(--padding);
  height: var(--large-font-size);
  margin: auto 0;
  /* border: 1px solid orange; */
}

.window-area {
  padding: var(--padding);
  overflow: auto;
  margin: 0 auto;
  /* border-radius: inherit; */
  /* Debug */
  /* border: 1px solid orangered; */
}

.window-footer {
  /* padding-bottom: var(--padding); */
  display: flex;
  justify-content: center;
  /* border-radius: inherit; */
  border-top: var(--border-width) solid var(--border);
  /* Debug */
  /* border: 1px solid orangered; */
}

.window-button {
  margin: auto 0;
  height: 24px;
  color: var(--theme-main);
  background-color: var(--theme-bg);
  transition-duration: 200ms;
  /* border: 1px solid orange; */
}
.close-button:hover {
  color: var(--theme-bg);
  background-color: var(--t-red);
}
.min-button:hover {
  color: var(--theme-bg);
  background-color: var(--t-yellow);
}
.max-button:hover {
  color: var(--theme-bg);
  background-color: var(--t-green);
}

/* Buttons */
button {
  font-family: var(--font-ui);
  font-size: var(--font-size);
  padding-inline: 0;
  border: 0;
  border-radius: var(--btn-rounding);
  outline: none;
}

.text-button {
  padding-inline: var(--padding);
}

.warning-button {
  background-color: orange;
  color: black;
}
.warning-button:hover {
  background-color: orangered;
}

/* Inputs */
input {
  background-color: var(--theme-bg-alt2);
  color: var(--theme-main-mono);
  font-family: var(--font-ui);
  font-size: var(--font-size);
  border: 0;
  border-radius: var(--rounding);
  outline: none;
  padding-inline: 8px;
}

/* Code */
code {
  font-family: var(--font-monospace);
  font-size: var(--font-size);
}

/* Terminal */
.terminal {
  /* Terminal Properties */
  color: var(--t-foreground);
  margin: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  /* Debug */
  /* border: 1px solid orangered; */
}
.terminal input {
  background-color: #00000000;
  width: calc(100% - 2em);
  color: var(--t-foreground);
  font-family: var(--font-monospace);
  font-size: var(--font-size);
  border: 0;
  border-radius: 0;
  outline: none;
  padding-inline: 0;
  padding: 0;
}
