@import url(../../style.css);

:root {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.player-container {
  position: relative;
  height: 90vh;
  width: 40vw;
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--theme-main-mono);
  border-radius: var(--rounding);
}

.range-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mute {
  font-size: 20px;
  cursor: pointer;
  color: var(--theme-main-mono);
}

.muted {
  color: var(--theme-main);
  font-size: 20px;
  cursor: pointer;
}

.volume-up {
  font-size: 18px;
  color: var(--theme-main-mono);
}

input[type="range"] {
  height: 25px;
  appearance: none;
  margin: 10px 15px;
  width: 300px;
  background-color: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px var(--shadow);
  background: var(--theme-main);
  border-radius: 1px;
  border: 0px solid var(--border);
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px var(--shadow);
  border: 1px solid var(--theme-main);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--theme-main);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--theme-main);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px var(--shadow);
  background: var(--theme-main);
  border-radius: 1px;
  border: 0px solid var(--border);
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px var(--shadow);
  border: 1px solid var(--theme-main);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--theme-main);
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: var(--theme-main);
  border: 0px solid var(--border);
  border-radius: 2px;
  box-shadow: 0px 0px 0px var(--shadow);
}

input[type="range"]::-ms-fill-upper {
  background: var(--theme-main);
  border: 0px solid var(--border);
  border-radius: 2px;
  box-shadow: 0px 0px 0px var(--shadow);
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px var(--shadow);
  border: 1px solid var(--theme-main);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--theme-main);
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--theme-main);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--theme-main);
}

.image-container {
  width: 400px;
  height: 400px;
}

img {
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  animation: rotate 2s linear infinite;
  animation-play-state: paused;
}

.music-title {
  font-size: 25px;
  letter-spacing: 2px;
  color: var(--theme-main-mono);
}

.cta-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.previous-btn,
.next-track-btn {
  cursor: pointer;
  background-color: transparent;
  color: var(--theme-main-mono);
  outline: none;
  border: 0;
  font-size: 40px;
}

.play-btn {
  cursor: pointer;
  background-color: transparent;
  color: var(--theme-main);
  outline: none;
  border: 0;
  font-size: 60px;
}

.replay,
.random {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: var(--theme-main-mono);
}

.replay:focus,
.random:focus {
  outline: none;
}

.active-replay {
  color: var(--theme-main);
}

.progress-container {
  background: color-mix(in srgb, var(--theme-main-mono), transparent);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 90%;
}

.progress {
  background-color: var(--theme-main);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  transition: width 0.1s linear;
}

.time-progress {
  position: absolute;
  /* top: 89%; */
  left: 5%;
  font-size: 20px;
}

.total-track-time {
  position: absolute;
  /* top: 89%; */
  right: 5%;
  font-size: 20px;
}

.play {
  animation-play-state: running;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .player-container {
    width: 70vw;
  }
}

@media (max-width: 900px) {
  .player-container {
    width: 90vw;
  }
  .image-container {
    width: 200px;
    height: 200px;
  }
  img {
    height: inherit;
    width: inherit;
  }

  .previous-btn,
  .next-track-btn {
    font-size: 20px;
  }
  .play-btn {
    font-size: 30px;
  }
  .replay,
  .random {
    font-size: 15px;
  }

  .time-progress {
    /* top: 82%; */
    font-size: 15px;
  }

  .total-track-time {
    /* top: 82%; */
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .player-container {
    width: 90vw;
  }

  .music-title {
    font-size: 18px;
  }
}
