/* Define global variables */
:root {
  --theme-main: #89b4fa;
  --theme-main-mono: #dadada;
  --theme-bg: #202020;
  --theme-bg-alt: #202020;
  --theme-bg-alt2: #303030;
  --border: #89b4fa;
  --shadow: #000000aa;
  --shadow-distance: 8px;
  --shadow-blur: 8px;
  --rounding: 8px;
  --padding: 8px;
}
/* Global background and main color */
:root {
  background-image: url(Mountainous\ Sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--theme-bg);
  color: var(--theme-main-mono);
  transition-duration: 2000ms;
}

/* Scroll Bar Modification */
/* width */
::-webkit-scrollbar {
  width: var(--padding);
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: var(--rounding);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: var(--rounding);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
  border-radius: var(--rounding);
}
/* The all important corner */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Window Definition */
window {
  --x: 0px;
  --y: 0px;
  --width: -10px;
  --height: -10px;
  --z-index: 1;
  translate: var(--x) var(--y);
  width: var(--width);
  height: var(--height);
  z-index: var(--z-index);
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0;
  border-radius: var(--rounding);
  color: var(--theme-main-mono);
  background-color: var(--theme-bg-alt);
  border: 2px solid var(--border);
  box-shadow: var(--shadow-distance) var(--shadow-distance) var(--shadow-blur)
    var(--shadow);
  position: absolute;
}

.window-header {
  font-size: 24px;
  color: var(--theme-main);
  padding-top: var(--padding);
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.window-area {
  padding: var(--padding);
  overflow: scroll;
  margin: 0 auto;
}

.window-footer {
  padding-bottom: var(--padding);
  text-align: center;
}

/* Inputs */
input {
  background-color: var(--theme-bg-alt2);
  color: var(--theme-main-mono);
  border: 0;
  padding-inline: 8px;
}

/* Terminal */
.terminal {
  margin: 0;
}
